.courseDash {
    padding: 10px;
    display: grid;
    padding-bottom: 10px;
}

.courseHeader {
    display:flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.addPlusSign {
    color:blue;
    font-size: 40px;
    border-radius: 8px;
    background-color: var(--primary-glow);
    font-weight: bold;
    border: none;
    cursor:pointer;
}

.courseList {
    display:grid;
    gap:10px;
    margin-left: 10px;
    padding-bottom: 20px;
}

.courseCard {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.addCourseBtn {
        background-color: #0070f3;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
}
